.example-form {

  margin: 0 auto;
  margin-top: 4%;
}

.form-row {
  display: flex;
  justify-content: space-between; /* יישור הפריטים לכל אחד מהשונים שנבחרו */
  margin-bottom: 15px;
}

.form-group {
  width: 50%; /* חלוקה אחידה של הפריטים בשורה */
  margin-right: 10px; /* מרווח בין הפריטים */
}
.aaaa{
  /* background: linear-gradient(to right, #0022ff, #ff7f23,  #4d68ff7c) */
}