.header {
    background-color: #f17406;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .title-container {
    flex: 2;
    text-align: center;
  }
  
  .nav-container {
    flex: 1;
    text-align: right;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ddd;
  }
  
  /* ... סגנון נוסף לפי הצורך */
  