<h2 mat-dialog-title>Edit Employee</h2>
<mat-dialog-content class="all">
  <form [formGroup]="newEmpForm" class="example-form">
    <div>
      <mat-form-field class="form-group">
        <mat-label>first name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>last name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>identity</mat-label>
        <input matInput formControlName="identity">
        <mat-error *ngIf="newEmpForm.get('identity')?.hasError('pattern')">
          identity must contain exactly 9 digits.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="1">Male</mat-option>
          <mat-option [value]="0">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>birthdate</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="birthDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>start date</mat-label>
        <input matInput [matDatepicker]="datepicker2" formControlName="startDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
        <mat-datepicker #datepicker2>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-dialog-actions class="action">
        <button mat-button (click)="onNoClick()" color="warn">cancel</button>
        <button mat-raised-button color="primary" type="submit" (click)="updateEmployee()" color="primary" [disabled]="newEmpForm.invalid" cdkFocusInitial>save</button>
      </mat-dialog-actions>
    </div>
  </form>
  <div>
    <app-emp-role [employee]="employeeData"></app-emp-role>
  </div>
</mat-dialog-content>
