
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .icon{
    width: 10%;

  }
.bottons{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-right: 1%;
  
}
.button{
  margin: 1%;
}
  